.App {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-size: cover;
  background-position: center;
}
.top {
  display: flex;
  padding-top: 40px;
}

.left {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.center {
  width: 40%;
  text-align: center;
}
.right {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
  font-size: 60px;

  color: orange;
  font-weight: 800;
}
p {
  font-size: 40px;
  color: rgb(57, 255, 47);
  font-weight: 800;
}
span {
  color: orange;
}

button{
    color: #fff;
    background-color: rgb(57, 255, 47);
    border: unset;
    border-radius: 10px;
     font-size: 20px;
     padding: 5px 10px;
     font-weight: 700;
     cursor: pointer;
}

button:hover{
    opacity: 0.5;
}

.player{
    width: 300px;
}

.iconWrap{
    /* width: auto; */
    width: 200px;
    height: 200px;
    background-color: #fff;
    border: 5px solid #45D994;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.iconWrap:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 35px solid transparent;
	border-top-color: #45D994;
	border-bottom: 0;
	border-left: 0;
	margin-left: -17.5px;
	margin-bottom: -35px;
}

.icon{
    width: 75px;
}

.choose{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chooseItem{
    background-color: #fff;
    margin: 0 10px;
    cursor: pointer;
}

.chooseItemActive{
    border: 5px solid orange;

}

.chooseItemImg{
    width: 50px;
}

.modal{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(117, 111, 111,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

h5{
    margin-bottom: 10px;
    font-size: 30px;
}

.modalWrap{
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}